{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href= {% static 'css/global.css' %}>
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet" />
		<script src="https://kit.fontawesome.com/884a40999c.js" crossorigin="anonymous"></script>

		<title>OnCall Scheduler</title>
	</head>
	<header class="container">
		<section class="bookstore-logo">
			<div class="text-logo">
				<i class="fas fa-calendar-alt"></i>
				OnCall Scheduler
			</div>
		</section>
		<section>
			<a href="http://127.0.0.1:8000/admin/" target="_blank">
				<input class="button" type="submit" value="Manager - SID" />
			</a>
		</section>
	</header>

	<body class="bodyContainer">
		{% block content %} {% endblock content %}
	</body>
	<footer>
		<section class="footer-main-frame"></section>
		<section class="copy-rights-bar">
			<i class="fa-regular fa-copyright"></i>
			All Rights Reserverd.
		</section>
	</footer>
</html>
