{% extends "base.html" %} {% block content %} {% load static %}

<form>
  {% csrf_token %}
  <section class="outer-section">
    {% comment %}
    <div>
      <img src = {% static 'images/test.jpg' %} width = "200" height = "200"
      alt="Myimage">
    </div>
    {% endcomment %}
    <div class="tables-section">
      <div class="left-table">
        <table class="styled-table">
          <tr>
            <th>DAY</th>
          </tr>
          <tr>
            <th>Monday</th>
          </tr>
          <tr>
            <th>Tuesday</th>
          </tr>
          <tr>
            <th>Wednesday</th>
          </tr>
          <tr>
            <th>Thursday</th>
          </tr>
          <tr>
            <th>Friday</th>
          </tr>
        </table>
      </div>
      <div class="right-table">
        <table class="styled-table">
          <tr>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th>5</th>
            <th>6</th>
            <th>7</th>
            <th>8</th>
          </tr>
          {% for rowval in scheduleList %}
          <tr>
            {% for val in rowval %}
            <td>{{val}}</td>
            {% endfor %}
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
    <div class="buttons-group">
      <div>
        <form action="http://127.0.0.1:8000/admin/scheduler/skills/">
          <input class="button" type="submit" value="Add Skills" />
        </form>
      </div>
      <div>
        <form action="http://127.0.0.1:8000/admin/scheduler/availability/">
          <input class="button" type="submit" value="Change Availability" />
        </form>
      </div>
      <div>
        <form action=" http://127.0.0.1:8000/admin/scheduler/employee/">
          <input class="button" type="submit" value="Modify Employees" />
        </form>
      </div>
    </div>
  </section>
</form>

{% endblock content %}
